@model SPE.ViewModel.EmpresaViewModel

@{
    ViewBag.Title = "EditarEmpresa";
}

@Html.Partial("../Shared/_MenuCarroselCadastro", "Empresa")

@section Head 
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#CNPJ").mask("99.999.999/9999-99");
        });
    </script>
     <script type="text/javascript" src="~/Scripts/Empresa/Empresa.js"></script>
}


<div class="container">
    <div class="white_box">
        <div class="container-fluid">
            <h1>Editar Empresa</h1>

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    <legend></legend>
                    @Html.Partial("_CadastrarOuEditar", Model)
                    @Html.HiddenFor(model => model.IdEmpresa)
                </fieldset>
          

                <div class="buttons">
                    <input type="submit" value="Salvar" class="btns btn-large btn-principal" />
                    @Html.ActionLink("Lista de Empresas", "Index", null, new { @class = "btns btn-large" })
                </div>
            }
        </div>
    </div>
</div>
