@model SPE.ViewModel.FiltrosComponente
@{
    ViewBag.Title = "Index";
}

@Html.Partial("../Shared/_MenuCarroselCadastro", "Componente")

<div class="container">
    <div class="white_box">
        <div class="container-fluid">
            <h1>Lista de Componentes</h1>
            <hr />

            <div class="filtro">
                <h4>Filtros</h4>
                <table class="camposFiltro">
                    <tr>
                    </tr>
                </table>
            </div>

            <table id="dataTable" class="table table-striped" style="margin-bottom: 20px;">
                <thead>
                    <tr>
                        <th search>Código
                        </th>
                        <th search>Nome
                        </th>
                        <th filtered>Tipo de Ambiente
                        </th>
                        <th filtered>CH
                        </th>
                        <th style="width: 10%; cursor: default">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Componentes != null)
                    {
                        foreach (var item in Model.Componentes)
                        {
                        <tr>
                            <td>
                                @item.IdComponente
                            </td>
                            <td>
                                @item.Nome
                            </td>
                            <td>
                                @if (item.TipoAmbiente.Count > 0)
                                {
                                    <ul>
                                        @foreach (var tipo in item.TipoAmbiente)
                                        {
                                            <li>@tipo.Descr</li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    @Html.Raw("Sem Ambiente")
                                }

                            </td>
                            <td>
                                @item.CH
                            </td>
                            <td>
                                <div class="btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar" alt="tootip" onclick="Editar('/Componente/EditarComponente/@item.IdComponente');" href=""><i class="icon-edit" alt="editar"></i></div>
                                <div class="btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Excluir" alt="tootip" onclick="Excluir(@item.IdComponente);"><i class="icon-ban-circle"></i><a href="#" alt="Excluir"></a></div>
                            </td>
                        </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" style="text-align: center;">Não há Componentes cadastrados.</td>
                        </tr>
                    }

                </tbody>

            </table>

            <div class="buttons">
                @Html.ActionLink("Adicionar Componente", "CadastrarComponente", null, new { @class = "btns btn-large btn-principal" })
            </div>
        </div>
    </div>
</div>
@Html.Partial("../Shared/_ModalConfirmacaoExcluir", "/Componente/ExcluirComponente/")