@model SPE.ViewModel.TipoAtividadeViewModel

<div class="span6">
    <div class="editor-label">
        @Html.LabelFor(model => model.Nome)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Nome, new { maxlength="255" })
        @Html.ValidationMessageFor(model => model.Nome)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Interna)
    </div>
    <div class="editor-field">
        @Html.CheckBoxFor(model => model.Interna)
        @Html.ValidationMessageFor(model => model.Interna)
    </div>
</div>
