@model SPE.ViewModel.TipoAmbienteViewModel

@{
    ViewBag.Title = "Editar Tipo de Ambiente";
}

@Html.Partial("../Shared/_MenuCarroselCadastro", "Tipo Ambiente")
<script src="~/Scripts/TipoAmbiente/tipoAmbiente.js"></script>
<div class="container">
    <div class="white_box">
        <div class="container-fluid">
            <h1>Editar Tipo de Ambiente</h1>

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    <legend></legend>

                    @Html.HiddenFor(model => model.IdTipoAmbiente)
                    @Html.Partial("_CadastrarOuEditar", Model)

                </fieldset>
          

                <div class="buttons">
                    <input type="submit" value="Salvar" class="btns btn-large btn-principal" />
                    @Html.ActionLink("Lista de Tipos de Ambientes", "Index", null, new { @class = "btns btn-large" })

                </div>
            }
        </div>
    </div>
</div>
