@model SPE.ViewModel.MatrizViewModel
@{
    ViewBag.Title = "DetalharMatriz";
}
@Html.Partial("../Shared/_MenuCarroselCadastro", "Matriz")
<div class="container">
    <div class="white_box">

        <div class="container-fluid">
<h1>Detalhes Matriz</h1>

<h3>Matriz</h3>
<fieldset>
    <legend></legend>

    <table border="1" class="table table-striped">
        <tr>
            <th><div class="display-label">Nome</div></th>
            <td> <div class="display-field">@Model.Nome</div></td>
        </tr>
        <tr>
            <th><div class="display-label">Modalidade</div></th>
            <td> <div class="display-field">@if (Model.Modalidade != null)
                {
                @Model.Modalidade.Nome
                }
                else
                {
                @Html.Raw("N/A");
                }</div></td>
        </tr>
        <tr>
            <th><div class="display-label">Área de Atuação</div></th>
            <td> <div class="display-field">@if (Model.AreaAtuacao != null)
                {
                @Model.AreaAtuacao.Nome
                }
                else
                {
                @Html.Raw("N/A");
                }</div></td>
        </tr>
        <tr>
            <th><div class="display-label">CBO</div></th>
            <td> <div class="display-field">@if (Model.CBO != null)
                {
                @Model.CBO.Descrricao
                }
                else
                {
                @Html.Raw("N/A");
                }</div></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">@Html.ActionLink("Editar", "EditarMatriz", new { id = Model.IdMatriz }, new { @class = "btn" })</td>
        </tr>

    </table>
</fieldset>
<div class="buttons">
    @Html.ActionLink("Lista de Matrizes", "Index", null, new { @class = "btns btn-large btn-principal" });
</div>
            </div></div></div>