@model SPE.ViewModel.UnidadeViewModel

@{
    ViewBag.Title = "Editar Unidade";
}

@Html.Partial("../Shared/_MenuCarroselCadastro", "Unidade")
<script src="~/Scripts/Unidade/unidade.js"></script>
<div class="container">
    <div class="white_box">
        <div class="container-fluid">
            <h1>Editar Unidade</h1>

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    <legend></legend>
                    @Html.HiddenFor(model => model.IdUnidade)
                    @Html.Partial("_CadastrarOuEditar", Model)

                </fieldset>

                <div class="buttons">
                    <input type="submit" value="Salvar" class="btns btn-large btn-principal" />
                    @Html.ActionLink("Lista de Unidades", "Index", null, new { @class = "btns btn-large" })
                </div>
            }
        </div>
    </div>
</div>
