@model Senai.SPE.Domain.CatUsuario

@{
    ViewBag.Title = "EditarTipoUsuario";
}

@Html.Partial("../Shared/_MenuCarroselCadastro", "Categoria Usuário")

<div class="container">
    <div class="white_box">
        <div class="container-fluid">
            <h1>Editar Tipo de Usuário</h1>

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    <legend></legend>

                    @Html.HiddenFor(model => model.IdCatUsuario)
                    @Html.Partial("_CadastrarOuEditar", Model)


                </fieldset>
          

            <div class="buttons">
                <input type="submit" value="Salvar" class="btns btn-large btn-principal" />
                 @Html.ActionLink("Lista de Tipos de Usuário", "Index", null, new { @class = "btns btn-large" })
               
            </div>
            }
        </div>
    </div>
</div>
