@model SPE.ViewModel.CBOViewModel

@{
    ViewBag.Title = "EditarCBO";
}

@section Head{
    <script type="text/javascript" src="~/Scripts/CBO/CBO.js" > </script>
}

@Html.Partial("../Shared/_MenuCarroselCadastro", "CBO")
<div class="container">
    <div class="white_box">
        <div class="container-fluid">
            <h1>Editar CBO</h1>

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    <legend></legend>

                    @Html.HiddenFor(model => model.IdCBO)
                    @Html.Partial("_CadastrarOuEditar", Model)


                </fieldset>
            

            <div class="buttons">
                <input type="submit" value="Salvar" class="btns btn-large btn-principal" />
          
                @Html.ActionLink("Lista de CBO", "Index", null, new { @class = "btns btn-large " })      
            </div>
            }

        </div>
    </div>
</div>
