@model SPE.ViewModel.FiltrosAreaAtuacao

@{
    ViewBag.Title = "Index";
}

@Html.Partial("../Shared/_MenuCarroselCadastro", "Área Atuação")
<div class="container">
    <div class="white_box">
        <div class="container-fluid">
            <h1>Lista de Áreas de Atuação</h1>
            <hr />

            <div class="filtro">
                <h4>Filtros</h4>
                <table class="camposFiltro">
                    <tr>
                    </tr>
                </table>
            </div>

            <table id="dataTable" class="table table-striped" style="margin-bottom: 20px;">
                <thead>
                    <tr>
                        <th search>Nome</th>
                        <th style="width: 10%; cursor: default">Ações</th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model.AreaAtuacao != null)
                    {
                        foreach (var item in Model.AreaAtuacao)
                        {
                        <tr>
                            <td>
                                @item.Nome
                            </td>
                            <td>
                                <div class="btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar" alt="tootip"  onclick="Editar('/AreaAtuacao/EditarAreaAtuacao/@item.IdAreaAtuacao');" href=""><i class="icon-edit" alt="editar"></i></div>
                                <div class="btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Excluir" alt="tootip" onclick="Excluir(@item.IdAreaAtuacao);"><i class="icon-ban-circle"></i><a href="#" alt="Excluir"></a></div>
                            </td>
                        </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" style="text-align: center;">Não há Áreas de Atuação cadastradas.</td>
                        </tr>
                    }

                </tbody>

            </table>

            <div class="buttons">
                @Html.ActionLink("Adicionar Área de Atuação", "CadastrarAreaAtuacao", null, new { @class = "btns btn-large btn-principal" })
            </div>
        </div>

    </div>
</div>

@Html.Partial("../Shared/_ModalConfirmacaoExcluir", "/AreaAtuacao/ExcluirAreaAtuacao/")

